## [ Обработка артефактов сборки ]
bin/
obj/
/build/

## [ Visual Studio ]
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vstoken

## [ Результаты тестов и логи ]
TestResults/
*.log

## [ NuGet ]
# Если используешь PackageReference (современный метод), папка packages не нужна
packages/
*.nuget.props
*.nuget.targets

## [ Специфично для WPF / Windows ]
Thumbs.db
ehthumbs.db
Desktop.ini

## [ Конфиденциальные данные ]
# appsettings.Example.json.
appsettings.json
